/*Variables*/
/*Mixins*/
/*Style Tags*/
a {
  color: white !important;
}

a.nav-link:hover {
  text-decoration: underline !important;
}

.bg-transparent {
  background-color: #31503e;
}

#blackWhiteGradiantId {
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, gray), color-stop(62%, #f6f6f6));
  background: linear-gradient(to right, gray 5%, #f6f6f6 62%);
  height: 82px;
  width: 100%;
}

#blackWhiteGradiantId img {
  width: 115px;
  height: 115px;
  margin-left: 15%;
}

body {
  margin: 0%;
  display: block;
}

.brownLineSeparator {
  background: #9f4715;
  height: 10px;
  padding: 0px;
  margin: 0px;
}

.col p {
  margin: 0px;
}

#companyNameClass {
  color: #31503e;
  padding: 20px 20px 20px 40px;
}

#companyPhoneClass {
  color: #9f4715;
  padding: 20px;
}

.copyrightTextClass {
  float: right;
  font-size: 12px;
  margin-left: 100px;
  margin-bottom: 5px;
}

#customFooter {
  padding-top: 10px;
  padding-bottom: 20px;
  color: white;
}

#customFooter.container {
  padding-left: 0px;
  padding-right: 0px;
}

#companyInfoDiv {
  padding: 0px;
}

#companyInfoDiv img {
  float: right;
  margin-left: 10px;
}

#descriptionId {
  margin: 10px;
  height: auto;
}

#descriptionId .container {
  padding-top: 40px;
  padding-left: 0px;
  padding-right: 0px;
}

div {
  padding-left: 0px;
  padding-right: 0px;
}

#footerCompanyLogo {
  margin-top: 40px;
  width: 120px;
}

#footerImageBackgroundId {
  background-image: url("../img/footer-background.png");
  background-position: 20%, 10%;
}

#forPatientsDivId {
  padding-left: 30px;
}

#forPatientsDivId h5 {
  color: #9f4715;
}

#generalInfoDiv p {
  text-decoration: underline;
  margin: 5px;
  padding-bottom: 4px;
}

#generalInfoDiv h4 {
  padding-bottom: 5px;
  font-weight: normal;
}

#headerOneStyle {
  color: #31503e;
  margin-bottom: 0px;
}

#headerRowId div {
  padding: 0px;
}

#headerRowId div img {
  margin-left: 0px;
}

#headerTwoStyle {
  color: #9f4715;
}

#imageBackgroundId {
  background-image: url("../img/header-background.png");
  height: 71px;
  background-position: 100%, 0%;
  color: #9f4715;
  font-weight: bold;
}

#imageBackgroundId .container {
  padding-left: 0px;
  padding-right: 0px;
}

#imageBackgroundId h3 {
  padding-top: 15px;
}

#inner {
  display: block;
}

#menuDivId {
  background-color: #31503e;
  height: 45px;
  widows: 100%;
}

#menuDivId .container .col-10 {
  max-width: inherit;
  /*fix small, navbar drop down menu mistake of last link item resizing too early*/
}

.navbar {
  margin: 0px !important;
  padding: 0px !important;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  background: #31503e;
  text-align: center;
}

.navbarMargin {
  margin-left: 15%;
}

.navItemWithBorder {
  border-left: white;
  border-left-style: solid;
}

.nav-link {
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.patientLinksClass {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
  background-color: #9f4715;
  text-align: center;
}

#youtubeIconId {
  margin-left: 200px !important;
}
/*# sourceMappingURL=style.css.map */